body {
  margin: 0;
  background-color: #ecf5ff;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.quiz-container {
  max-width: 700px;
  min-height: 400px;
  background-color: #ffffff;
  margin: 40px auto;
  border-radius: 10px;
  padding: 30px;
}

.quiz-container::after,.quiz-container::before {
  content: "";
  clear: both;
  display: table;
}


#hud {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.question-number h3 {
  color: #56a5eb;
  margin: 0;
  padding-bottom: 10px;
}

.question {
  font-size: 22px;
  color: #000000;
  padding: 20px 0;
}

.options div {
  background-color: #cccccc;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.options div.disabled {
  pointer-events: none;
}

.options div.correct {
  z-index: 1;
  color: #fff;
}

.options div.correct::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #28a745;
  z-index: -1;
  /* transform: translateX(-100%) */
  animation: animateBackground 1s ease;
  animation-fill-mode: forwards;
}

@keyframes animateBackground {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.options div.wrong {
  z-index: 1;
  color: #fff;
}

.options div.wrong::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  /* transform: translateX(-100%) */
  animation: animateBackground 1s ease;
  animation-fill-mode: forwards;
}

@keyframes animateBackground {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.button .btn {
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #56a5eb;
  font-size: 16px;
  color: #ffffff;
  border: none;
  display: inline;
  margin: 15px 0;
}

.quiz-over {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

.quiz-over .box {
  background-color: #009688;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff; 
}

.quiz-over .box h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.quiz-over .box button {
  padding: 15px 50px;
  background-color: #ff9800;
  border-radius: 5px;
  font-size: 16px;
  margin: 15px 0 20px;
  color: #ffffff;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

#btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 15rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  text-decoration: none;
  color:white;
  background-color: #56a5eb;
  border-radius: 5px;
}

/* #009688 */